@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Work Sans", sans-serif;
}
body{
    background-color: #141519;
}
.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.parent .container{
    width: 25%;
    height: 390px;
    background-color: #1F2630;
    border-radius: 20px;
    padding: 30px;
}
.parent .secondary{
    display: none;
}
.parent .container .starimg{
    background-color: #262E38;
    padding: 10px;
    border-radius: 30px;
    margin: 7px;
}
.parent .container .content2{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 25px;
}
.parent .container .content2 #response{
    background-color: #262F38;
    padding: 5px 10px;
    border-radius: 50px;
    color: #FC7614;
}
.parent .container .Mesage{
    text-align: center;
    margin: 50px 16px;
}
.parent .container .Mesage h2{
    color: #EBF0F8;
    margin-bottom: 15px;
    font-size: 35px;
}
.parent .container .Mesage p{
    color: #858C95;
}
.parent .content h2{
    padding: 10px;
    color: #EBF0F8;
}
.parent .content p{
    padding: 10px;
    color: #858C95;
    line-height: 25px;
}
.parent .number{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}
.parent .number span{
    background-color: #262F38;
    padding: 18px 20px;
    border-radius: 50%;
    color: #858C95;
    cursor: pointer;
}
.parent .number span:hover{
    background-color: #7B8899;
    color: #EBF0F8;
}
.parent button{
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    border-radius: 25px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    background-color: #FC7613;
    cursor: pointer;
}
.parent button:hover{
    background-color: #FFFFFF;
    color: #D37C3A;
    cursor: pointer;
}










@media (min-width:768px){
    .parent .container{
        width: 50%;
    }
}
@media (min-width:992px){
    .parent .container{
        width: 35%;
    }
}
@media (min-width:1200px){
    .parent .container{
        width: 25%;
    }
}
@media(max-width: 768px){
    .parent .container{
        width: 50%;
    }
}
@media(max-width: 580px){
    .parent .container{
        width: 70%;
    }
}